body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    margin: 0px;
    padding: 10px 48px;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text {
    color: #E5E7Eb;
    font-size: 18px;
}

.hero-button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: 400;
    font-size: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
}

